$red: red;

$theme-colors: (
  "red": $red
);

.nav {
  height: 15vh;
  background-color: gray;
}

.container-fluid {
  background-color: black;
}

.img-barbecue {
  width: 100%;
}

@import "~bootstrap/scss/bootstrap";